# Ignore Unity-specific directories and files in SoapGame
SoapGame/Library/
SoapGame/Temp/
SoapGame/Obj/
SoapGame/Build/
SoapGame/Builds/
SoapGame/Logs/
SoapGame/UserSettings/
SoapGame/*.log
SoapGame/*.blend1
SoapGame/*.blend1.meta
SoapGame/MemoryCaptures/
SoapGame/Recordings/

# JetBrains Rider plugin
SoapGame/Assets/Plugins/Editor/JetBrains*

# Visual Studio files
SoapGame/.vs/
SoapGame/.gradle/

# Solution and project files
SoapGame/ExportedObj/
SoapGame/.consulo/
SoapGame/*.csproj
SoapGame/*.unityproj
SoapGame/*.sln
SoapGame/*.suo
SoapGame/*.tmp
SoapGame/*.user
SoapGame/*.userprefs
SoapGame/*.pidb
SoapGame/*.booproj
SoapGame/*.pdb
SoapGame/*.mdb
SoapGame/*.opendb
SoapGame/*.VC.db

# Unity3D generated meta files
SoapGame/*.pidb.meta
SoapGame/*.pdb.meta
SoapGame/*.mdb.meta

# Crash and debug reports
SoapGame/sysinfo.txt
SoapGame/mono_crash.*

# Ignore builds
SoapGame/*.apk
SoapGame/*.aab
SoapGame/*.unitypackage
SoapGame/*.unitypackage.meta
SoapGame/*.app

# Crashlytics
SoapGame/crashlytics-build.properties

# Addressables and visual scripting
SoapGame/ServerData
SoapGame/Assets/StreamingAssets/aa*
SoapGame/Assets/AddressableAssetsData/link.xml*
SoapGame/Assets/Addressables_Temp*
SoapGame/Assets/AddressableAssetsData/*/*.bin*

SoapGame/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
SoapGame/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
SoapGame/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
SoapGame/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated test scenes
SoapGame/Assets/InitTestScene*.unity*

